/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/* style css */
@import url(normalize.css);
@import url(menu.css);
@import url(home.css);
@import url(about.css);
@import url(skills.css);
@import url(training.css);
@import url(project.css);
@import url(contact.css);
@import url(responsive.css);
/* css variables */
:root{
    --header-height: 3rem;
    --font-semi: 600;
/* font and typhograpy */
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .75rem;
/* colors */
    --color-primary:#124E78;
    --background-primary:#F4E8C1;  
    --background-secundary:#D9CAB3;
    --color-secundary:#FF8552;
    --color-secundarylight:#F1FEC6;
    --background-grey:#9AA0A8;
/* margins */
    --mb-1:0.5rem;
    --mb-2: 1rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
/* Z-index */
    --z-back: -10;
    --z-fixed: 100;
    --z-normal:1;
    --ztooltip:10;
}
  *{
    box-sizing: border-box;
  }
  html {  
    scroll-behavior: smooth;
  }
  .app{
    background:url('../img/abstract-gdecdb2db1_1920.jpg')center / cover no-repeat;
    display: grid;  
    font-family: var(--body-font);
    grid-template-areas: 
        "header"
        "contenido"
        "footer";
    grid-template-columns: auto;
    grid-template-rows: var(--header-height) auto auto;
    color: var(--color-primary);
  } 
   a {text-decoration: none;}
  ul {margin: 0; padding: 0; list-style: none;}
  .l-header {
    padding: 0 2rem;
    align-items: center;
    display:flex;
    grid-area: header;   
    z-index: var(--z-fixed);
    position: fixed; 
    width: 100%;    
  }
  .contenido {   
    grid-area: contenido; padding: 0 2rem;}
.l-footer {   
  color:var(--color-primary);
  grid-area: footer;
  padding: 1rem;
  text-align: center;  
}
