#card__projects{	
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	background: var(--background-secundary);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 3em auto;
	height: 300px;
	width: 60%;
	border: solid 6px var(--background-secundary);	
}
.card__projects-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 50%;
}
#card__projects .card__projects-details h2{
	font-family: 'Old Standard TT', serif;
	display: inline-block;
	position: relative;
    text-shadow: 0 0 3px #99621E, 0 0 7px #62929E;
	font-size: var( --h2-font-size);
	color: var(--color-primary);
	margin: 0;	
}
#card__projects .card__projects-details > p {
	font-family: 'Farsan', cursive;
	text-align: center;
	font-size: 16px;
	color: var(--color-primary);	
}
.card__projects-control{
	width: 73%;
	position: absolute;
	bottom: 5%;
	left: 10%;	
}
.card__projects-btn {
	transform: translateY(0px);
	transition: 0.3s linear;
	background:var(--color-secundary);
	border-radius: 5px;
    position: relative;
    overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color:var(--color-secundarylight);
	padding: 0;
	margin: 0;	
}
.card__projects-btn:hover{transform: translateY(-4px);}
.card__projects-btn span {
	font-family: 'Farsan', cursive;
	transition: transform 0.3s;
	display: inline-block;
    padding: 10px 20px;
	font-size: 1.2em;
	margin:0;	
}
.card__projects-btn .card__projects-icon, .card__projects-icontrue{
	background:var(--color-secundary);
	border: 0;
	margin: 0;
}
.card__projects-btn .card__projects-icon {
	transform: translateX(-10%); padding-right: 10px;
}
.card__projects-btn .card__projects-icontrue {
	transform: translateX(-100%);
    position: absolute;
	background:var(--color-secundary);
	z-index: var(--z-normal);
    left: 0;
    top: 0;
}
.card__projects-btn .card__projects-repository {z-index: 3; padding-left: 2rem; font-weight: bolder; color: var(--color-secundarylight);}
.card__projects-btn:hover .card__projects-icon {transform: translateX(-110%);}
.card__projects-btn:hover .card__projects-icontrue {transform: translateX(0%);color: var(--color-secundarylight);}
.card__projects-image{
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;	
	width: 50%;
}
#card__projects img { width: 100%;height: 100%;}

.card__projects-image_info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Farsan', cursive;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.9;
    text-align: left;
    font-size: 120%;
    color: var(--background-secundary);
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.card__projects-image_info  h2 {text-align: center}
.card__projects-image:hover .card__projects-image_info {transform: translateX(0);}
.card__projects-image_info  ul li{padding-left: 10px; transition: 0.3s ease;}
.card__projects-image_info  ul li:hover{transform: translateX(50px) scale(1.3);}
.card__projects-image:hover img {transition: all 0.3s ease-out; transform: scale(1.2, 1.2);}
