@media screen and (min-width: 990px) {
    :root {
        --big-font-size: 3.5rem;
        --h2-font-size: 2.5rem;
        --normal-font-size: 1.5rem;
        --smaller-font-size: .95rem;
    } 
    
}
@media screen and (max-width: 870px){   
    /* about */
    .about__container {
        width: 85%;
    }
    .about__text{
     line-height: 1.2;   
    }

   /* projects */
    #card__projects{
        width: 80%;
    }
    .card__projects-control{
        width:85% ;
    }
    /* skills */
    .skills{
        height: auto;
    } 
    .skills__container{        
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 23% 23% 23% 23%;
        row-gap: 2%;
    }
   /* training */
    .training__container{
        width: 80%;
        grid-template-columns: 30% 30% 30%;
    }
}
@media screen and (max-width: 700px){
    /* home */
    .home{
        display: inline-block;
        grid-column: none;
        grid-row: none;
    }
    .home__data h1{
       
        text-align:end;
    }
    .home__container{
        padding: 3rem;
        /* margin :2rem 2rem 0 0; */
        width: 100%;
        position: absolute;      
    }
    .home__img{
        position: absolute;
        width: 60%;
        z-index: 1;
        opacity: .3;        
    }
    /* about */
    .about__container {
        width: 60%;
    }  
     /* skills */
    .skills__container{ 
        width: 90%;           
        grid-template-columns:41% 41%;
        grid-template-rows:18% 18% 18% 18% 18%;
        row-gap: 1%; 
        column-gap: 0;
        justify-content: center;
    }
    .skill__cards{
        width: 68%;
    }
    /* training */
    .training__container{
        margin-left: 1rem;
        width: 80%;
        grid-template-columns:45% 45%;
        grid-template-rows: 32% 32% 32%;
    }
    .training__cards{
        width:90% ;
        
    }
    .training__cards-img:nth-child(1):hover span{
        padding-top: 10%;
        opacity: 1;
    }
    .training__cards-description{
        padding-top: 0;
    }
    /* projects */
    #card__projects{
        background-color: transparent;
        border: none;       
        display:inline-block;      
        width: 70%;
        margin:.5em  3em;       
        height: 500px;  
    }
    .card__projects-details{    
        height: 50%;
        width: 100%;
    }
    .card__projects-image{        
        width: 100%;
        height: 50%;    
}
    .card__projects-btn{
        width: 80%;
}
/* contact */
.contact__container{
    min-width: 500px;
    min-height: 350px;
}
}
@media screen and (max-width:450px){
    .home__title{font-size:1.5rem ;}
    .home__title-p{font-size: .8em;}
    .home__container{margin :0;}
    .home__social{  margin-top: 20%;} 
    .home__social > a{padding: 0 20px 0 20px;}
    .home_contact{margin-left: 38%}
    .about__container{width: 80%; margin-left:1rem;}
    .about__text{font-size: .8em;}
    .training__cards-img:nth-child(1):hover span{font-size: .6em;}
    #card__projects{width: 60%;}
    .card__projects-btn{width: 100%;}
    .skills__cards-icon{font-size: 2rem;}
    .skill__cards-title{font-size: var(--smaller-font-size);}
    .skills__cards__value-container{height: 1rem; width: 85%;}
    .card__projects-image_info {font-size: 75%;}
    .contact__container{ min-width: 380px; margin: 0;}
}
