.skills{
    height: calc(100vh - var( --header-height
    ));
}
.skills__title{ margin-top: 6rem;}
.skills__container{   
    display: grid;   
    grid-template-columns: 17% 17% 17% 17% 17%;
    column-gap: 3.6%;
    row-gap: 10%;
    grid-template-rows: 45% 45% ;
}
.skill__cards{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: solid 1px;
    border-radius: 5px;
    display: grid; 
    height: 80%;
    grid-template-areas: 
        "title"
        "image"
        "percentage";
    grid-template-columns: 100%;
    grid-template-rows: 20% 40% 40%;   
}
.skill__cards-title{
    grid-area: title;
    font-size: var( --normal-font-size);
    text-align: center;
}
.skills__cards-icon{
    grid-area: image;
    font-size: 4rem;
    text-align: center;
    padding: 5px;
}
.skills__cards-value{grid-area: percentage;}
.skills__cards__value-container{
    border: 1px solid var(--color-primary);
    height: 1.5rem;
    width: 90%;
    border-radius: 5px;
    margin: 1rem 0 0 .5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.skills__cards__value-bar{
    background-color:var(--background-grey); 
    height:100%;   
    align-items: center;
    /* transition: width 0.25s; */
    border-radius: 5px;   
}
.skills__cards__value-bar span{
    color: var(--color-secundarylight);
    margin-left: .5rem;
}
.skills__cards-60{ width: 60%;}
.skills__cards-50{ width: 50%;}
.skills__cards-70{ width: 70%;}
